.item-list {
    list-style: none;
}

li {
    float: left;
}

.item-box {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-content {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 500ms;
}

.item-content:hover {
    width: 104px;
    height: 104px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);

    .item-icon {
        width: 52px;
    }

    .item-text {
        font-size: 105%;
    }
}

.item-icon {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 50px;
    height: auto;
    transition: 500ms;
}

.item-text {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    line-height: 1;
    transition: 500ms;
}