@import '../assets/variable.scss';

main {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    transition: background-color $color-t-speed ease;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    main {
        margin: 1rem 1rem 5rem 1rem;
    }

    .loader {
        margin: -72px 0px 0px -32px;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
     main {
        margin-left: 5rem;
        padding: 1rem;
    }

    .loader {
        margin: -32px 0px 0px -32px;
    }
}