$scroll-thumb: #b6a1f1;
$scroll-thumb-hover: #6649b8;;
$scroll-size: 0.25rem;

$transition-speed: 600ms;
$color-t-speed: 1000ms;

$fa-primary: #ff7eee;
$fa-secondary: #df49a6;

:root {
    // in dark mode
    --bg-primary-dark: #23232e;
    --bg-secondary-dark: #141418;
    --text-primary-dark: #b6b6b6;
    --text-secondary-dark: #ececec;
    --selection-dark: #ca5ca9;

    // in light mode
    --bg-primary-light: #ffffff;
    --bg-secondary-light: #e4e4e4;
    --text-primary-light: #1f1f1f;
    --text-secondary-light: #000000;
    --selection-light: #662452;
}